<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>

 <!-- Bootstrap CSS -->
    <link th:rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}"/>
</head>
<body class="pt-3">
   <h1 class="text-center">Modifica il tuo drink</h1>
   
  <div th:replace="frag :: errors()"></div>
	
  <div class="container">
      <div class="row">
         <div class="col">
            <form method="POST" th:action="@{/drink/admin/update}" th:object="${drink}">
               <input type="number" name="id" th:field="*{id}" style="display:none">
               <div th:replace="frag :: form()"></div>
               <div class="text-center">
                  <button type="submit" class="btn btn-warning text-black">Modifica</button>
                  <button type="submit" class="btn btn-success">
                     <a style="text-decoration: none" class="text-white" href="/drink/user">HomePage drink</a>
                  </button>
               </div>
             </form> 
          </div>
       </div>
     </div>
</body>
</html>