<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="css/style.css">

 <!-- Bootstrap CSS -->
    <link th:rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}"/>
</head>

<body th:object="${pizza}" class="text-center pb-3">
   
   <div th:replace="frag :: show()"></div>
   <div class="p-4" th:if="*{promotion}">
          <h3>Promozioni attive: [[*{promotion.name}]]</h3>
          <span>Data inizio: [[*{promotion.startDate}]] / Data fine: [[*{promotion.finishDate}]]</span>
   </div>
   <div class="p-4" th:if="*{ingredients}">
           <h3>Ingredienti:</h3>
          <h4 th:each="ingredient : *{ingredients}" th:object="${ingredient}">[[*{name}]]</h4>
   </div>
   
   <button class="btn btn-success">
       <a style="text-decoration: none" class="text-white ms_text_decoration" href="/pizza/user">HomePage</a>
   </button>
   <button class="btn btn-warning">
       <a style="text-decoration: none" class="text-dark ms_text_decoration" th:href="@{/pizza/admin/edit/{id} (id=*{id})}" sec:authorize="hasAuthority('ADMIN')">Modifica la tua pizza</a>
   </button>
   <button class="btn btn-danger">
       <a style="text-decoration: none" class="text-white ms_text_decoration" th:href="@{/pizza/admin/delete/{id} (id=*{id})}" sec:authorize="hasAuthority('ADMIN')">Elimina</a>
   </button>
   <button class="btn btn-primary">
       <a style="text-decoration: none" class="text-white" href="/pizza/user/search" sec:authorize="hasAuthority('USER')">Torna alla ricerca della tua pizza</a>
   </button>
   <button class="btn btn-dark">
       <a style="text-decoration: none" class="text-white" href="/pizzaAndDrink/user/search" sec:authorize="hasAuthority('USER')">Torna alla ricerca complessiva</a>
   </button>
</body>
</html>